<div class="p-4">
  <h2 class="text-xl font-semibold mb-4">Horarios Materias Electivas Libres</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre materia</th>
          <th>Día</th>
          <th>Hora inicio</th>
          <th>Hora fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.codigo }}</td>
          <td>{{ item.nombreMateria }}</td>
          <td>{{ item.dia }}</td>
          <td>{{ item.horaInicio }}</td>
          <td>{{ item.horaFin }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="botones-container">
    <button
      mat-raised-button
      class="custom-primary-button"
      (click)="onNoClick()"
    >
      Cancelar
    </button>
  </div>
</div>

